.edu-section{
  width: 100vw;
background-color:
#2EBAEE;
position: relative;
padding: 7em 0 7em 0;
margin-top: -1px;
z-index: 12;
}

.edu-container{
  max-width: 50rem;
padding-left: 1.5rem;
padding-right: 1.5rem;
margin-left: auto;
margin-right: auto;
position: relative;
}

.sub-title-edu{
  font-family: 'BenchNine', sans-serif;
text-transform: uppercase;
text-align: left;
color:white;
font-size: 1.3em;
}

.title{
  font-family: 'Libre Franklin', sans-serif;
font-size: 2.5em;
text-transform: uppercase;
color:white;
z-index: 1;
line-height: 1em;
padding: 0.1em 0 0.75em 0;
font-weight: 900;
font-style: italic;
}

.job-subSection{
  position: relative;
padding: 1.5em 0 1.5em 0;
border-bottom: 1px solid#2A3C57;
color:white;
}
.job-company{
  font-weight: 700;
font-size: 2em;
}
.job-position-edu{
  font-weight: 500;
color:#2A3C57;
font-size: 0.85em;
padding-top: 0.5em;
}
.job-date{
  font-size: 0.7em;
font-weight: 600;
color:#485A75;
top: 1.5em;
position: absolute;
right: 0;
padding-top: 8px;
}
.job-details-edu{
  max-height: 0;
opacity: 0;
overflow: hidden;
font-size: 15px;
line-height: 30px;
color:#000;
}
.job-subSection:hover .job-details-edu{
transition: all 0.5s ease;
max-height:100%;
opacity:0.5
} 

.requestBtn{
  margin-top:2rem;;
}
.requestLink{
  background-color:#1D3352;
padding: 0.5em 1em;
border-radius: 10px;
color: #FFF;

}
.requestBtn a{
  text-decoration: none !important;
font-weight: 600;
font-family: 'Avenir Next', 'Avenir', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}