 .firstSection {
  background-color:#29b9ee;
	padding: 7em 0 7em 0;
	z-index:-5;
	box-shadow: 0 -15px 20px 0 rgba(0, 0, 0, 0.25);
}

.headerText{
  text-align: center;
  color:white;
  font-size: 2rem;
  
.stack{
  animation: fadeInLeft;
  animation-duration: 1s;
}

.stack-info{
  animation: fadeInRight;
  animation-duration: 1s;
}

h1{
  font-size: 5rem;
  animation: bounce;
  animation-duration: 2s;
}

p{
  color:#133f7f;
}

}

@media (min-width:768px){
  .headerText{
    h1{
      font-size: 10rem;
    }
  }
}

